body{
	background-image: url(../PICS/bodyback.jpg);
}


#wrapper{
	margin: auto;
	width: 989px;
	padding: 10px;
	background-image: url(../PICS/backg3.png);
}

#banner{
	background-image: url(../PICS/banner.jpg);
	background-repeat: no-repeat;
	width: 989px;
	Height: 225px;
}

#logo{
	background-image: url(../PICS/logo.png);
	background-repeat: no-repeat;
	width: 218px;
	Height: 199px;
}

#navigator{
	background-color: black;
	width: 989px;
	height: 50px
}

#navigator a {
	float: left;
	display: block;
	color: red;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navigator a:hover {
	background: #ddd;
	color: black;
}

.laptop{
	display: inline-block;
	width: 327px;
	height: 300px;
	margin: 0;
	padding: 0;
	border: 0;
}

#laptop1 {
	background-image: url(../PICS/laptop1.jpg);
	background-repeat: no-repeat;
	
}
#laptop2 {
	background-image: url(../PICS/laptop2.jpg);
	background-repeat: no-repeat;
	
}
#laptop3 {
	background-image: url(../PICS/laptop3.jpg);
	background-repeat: no-repeat;
	
}

.desktop {
	display: inline-block;
	width: 327px;
	height: 300px;
	margin: 0;
	padding: 0;
	border: 0;
}

#desktop1 {
	background-image: url(../PICS/desktop1.jpg);
	background-repeat: no-repeat;
}

#desktop2 {
	background-image: url(../PICS/desktop2.jpg);
	background-repeat: no-repeat;
}

#desktop3 {
	background-image: url(../PICS/desktop3.jpg);
	background-repeat: no-repeat;
}

.pheripherals {
	display: inline-block;
	width: 327px;
	height: 300px;
	margin: 0;
	padding: 0;
	border: 0;
}

#pheripherals1 {
	background-image: url(../PICS/pheripherals1.jpg);
	background-repeat: no-repeat;
}

#pheripherals2 {
	background-image: url(../PICS/pheripherals2.jpg);
	background-repeat: no-repeat;
}

#pheripherals3 {
	background-image: url(../PICS/pheripherals3.jpg);
	background-repeat: no-repeat;
}





.details {
	display: inline-block;
	width: 327px;
	height: 500px;
	margin: 0;
	padding: 0;
	border: 0;
}

#detail1 {
	background-color:black;
	
}

#detail2 {
	background-color:black;
	
}

#detail3 {
	background-color:black;
	
}

p{
	float: left;
	margin-left:10px;
	font-family: Arial;
	color: white;
}

#footer{
	background-image: url(../PICS/footer.png);
	background-repeat: no-repeat;
	width: 989px;
	height: 100px;
	padding: 20px;
	text-align: center;
	
}

.recommended{
	background-image: url(../PICS/thumbs.png);
	position: fixed;
	width: 300px;
	height: 285px;
	bottom: 0;
	right: 0;
}