/*DESIGN*/

.bodyBackground1{
		font-family: Lucida Console;
		background-image:  url(../PICS/background.jpg);
		
	}
	
.thTable{
		font-size: 30px;
			color: white;
		}
		
.tdTable{
		text-align:center;
		
		}
		
		
.bodyBackground2{
		font-family: Copperplate;
		background-image: url(../PICS/RIKKA.gif), url(../PICS/reportPage.jpg);
		background-repeat: no-repeat, no-repeat;
		background-position:right bottom, center;
		background-attachment: fixed;
		background-size: 200px, 2000px;
	}
	
#wrapper{
	background-image:  url(../PICS/WRAPPER.jpg);
	opacity: 0.9;
	margin: auto;
	width: 500px;
	padding: 10px;
}