body{	background-color:black;
		background-image: url(../PICS/NEUMAINLOGO.png), url(../PICS/NEU.jpg);
		background-repeat: no-repeat, no-repeat;
		background-position: right bottom, center;
		background-attachment: fixed;
		background-size: 130px, cover;
}

hr{
	background-color:#4488FF;
	width:1000px;
	height:5px;
}

h1{
	font-family: Forte;
	text-align: center;
	font-size: 40px;
	color: #FE1640;
}

p{
	text-align: center;
	font-family: Imprint MT Shadow;
	font-size: 20px;
	color: black;
}

.h1MAIN{
	text-align: center;
	font-family: Forte;
	color: black;
	font-size: 70px;
	background-color:white;
}

.hrHeader1{
	background-color:red;
	width:1330px;
	height:10px;
}

.hrHeader2{
	background-color:green;
	width:1330px;
	height:10px;
}

.hrHeader3{
	background-color:gold;
	width:1330px;
	height:10px;
}