@media print {
		.noPrint {
		display: none;
		}
}



/*BUTTONS*/

.Addbutton {
  padding: 4px 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #408FFA;
  border: none;
  border-radius: 6px;
}

.Addbutton:hover {background-color: blue}

.Addbutton:active {
  background-color: black;
  box-shadow: 0 3px #666;
  transform: translateY(px);
}

.Editbutton{
	padding: 4px 10px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: #0FB40F;
	border: none;
	border-radius: 6px;
}

.Editbutton:hover {background-color: blue}

.Editbutton:active {
  background-color: black;
  box-shadow: 0 3px #666;
  transform: translateY(px);
}

.Deletebutton{
	padding: 4px 10px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: #CB0000;
	border: none;
	border-radius: 6px;
}

.Deletebutton:hover {background-color: red}

.Deletebutton:active {
  background-color: black;
  box-shadow: 0 3px #666;
  transform: translateY(px);
}

.printButton{
	padding: 4px 10px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: #408FFA;
	border: none;
	border-radius: 6px;
}

.printButton:hover {background-color: blue}

.printButton:active {
  background-color: black;
  box-shadow: 0 3px #666;
  transform: translateY(px);
}

#DirrectPrintButton{
	padding: 4px 10px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: #408FFA;
	border: none;
	border-radius: 6px;
}

#BackButton{
	padding: 4px 10px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: #408FFA;
	border: none;
	border-radius: 6px;
}




.bodyBackground1{
		background-image:  url(../PICS/reportPage.jpg);
		 background-repeat: no-repeat;
		 background-size: cover;

	}
	
	
#wrapper{
	background-image:  url(../PICS/WRAPPER.jpg);
	opacity: 0.9;
	margin: auto;
	width: 1000px;
	padding: 10px;
	
}

#CertificateBG{
	background-image:  url(../PICS/CERTIFICATE.jpg);
	background-repeat: no-repeat;
		 background-size: cover;
	margin: auto;
	width: 900px;
	padding: 10px;
}